.seccionBienvenidos{
    background-color:#cecece;
    height: 500px;
    padding-top:5rem ;

    

        h2{
            font-size: 30px;
            font-weight: lighter;
            text-align: center;
            font-family:monospace;
        }
        .tituloBienvenida{
            margin-top: 2rem;
            font-size: 50px;
            text-align: center;
        }
}